<h2>User info</h2>
<img class="attachment user profile_image fallback" src="" alt="No image">
<table class="table">
	<tbody>
		<tr></tr>
		<tr>
			<th>name</th>
			<!--th 名前引っ張る -->
		</tr>
		<tr>
			<th>introduction</th>
		</tr>
	</tbody>
</table>
<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"></form>
<h2>Book detail</h2>